<h2> Your post has been successfully submitted!</h2>
<h3> If you'd like to edit your post at any time, please save this link:</h3>
<a href="/edit/post/item">link</a>







<form method="get" action="/">
  <input type="submit" value="go back to homepage">
</form>

