<h1>Here's your item!</h1>
<p><strong><%= @item.title %></strong> listed for $<%= @item.price %></p>
<p>Description: <%= @item.description %></p>
<br />
<p>To return to this secret link, bookmark: <a href="/edit_item/<%= @item.item_key %>">this link</a></p>
<br />
<a href="../">Go Home</a>