<form method="POST" action="/post">
<label>Title<input type="text" name="title"></label>
<label>Description<input type="text" name="description"></label>
<label>Price<input type="text" name="price"></label>
<input type="submit" value="Post">
</form>

<% @posts.each do |post| %>
  <li> <%= post.title %> : <%= post.description %> : <%= post.price %></li>

  <% end %>


<form method="POST" action="/register">
  <p>Register as User</p>
<label>Name<input type="text" name="name"></label>
<label>Password<input type="password" name="password"></label>
<input type="submit" value="Register">


</form>

<form method="POST" action="/login">
  <p>Login</p>
<label>Name<input type="text" name="name"></label>
<label>Password<input type="password" name="password"></label>
<input type="submit" value="Login">


</form>

<% if session[:user_id] %>
  <form method="get" action="/user/<%= session[:user_id] %>">
    <input type="submit" value="My Posts">
  </form>
  <% end %>