<form method="POST" action="/post">
<label>Title<input type="text" name="Title"></label>
<label>Description<input type="text" name="Description"></label>
<label>Price<input type="text" name="Price"></label>
<input type="submit" value="Post">
</form>