<a href='/'>Home</a>
<h1>Robert's Craigslist Jr</h1>
<h3>Items for sale | <a href='/item/new'>List an item</a></h3>
<% if @items.size>0 %>
  <ul>
  <% @items.each do |item| %>

      <li><p><%= "$" + item.price %> -- <a href='/item/<%= item.url %>'><%= item.title %></a></p>

  <% end %>
  </ul>
<% else %>
  <h4>***No listings available***</h4>
<% end %>