<h1>Craigslist Jr.</h1>
<h2><em>The Little Brother of Craigslist</em></h2>

<nav>
  <h3>
    <a href="/items/new">Get Rid of Your Stuff</a>
  </h3>
</nav>

<nav>
  <h3>
    <a href="/items/list">Look at Your Stuff</a>
  </h3>
</nav>


<% if flash[:notice] %>
  <p class="notice"><%=flash[:notice]%></p>
  <% flash[:notice] = nil %>
<% end %>
