<!DOCTYPE html>
<html>
<head>
  <title>CRAIGSLIST JR BITCH</title>
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <div class="header">
      <h1><a href="/">craigslist jr</a><h1>
    </div>
    <br/>
    <div class="login">
      <form action="/login" method="post" name="login_form">
        <input id="login_user" type="text" name="user[user_name]" placeholder="username">
        <input id="login_pw" type="password" name="user[password]" placeholder="password">
        <input type="submit" value="log in">
      </form>
      <div class="sign-up">
        <p>not a user? sign up</p>
        <form action="/signup" method="post" name="signup_form">
          <input id="signup_user" type="text" name="user[user_name]" placeholder="username">
          <input id="signup_pw" type="password" name="user[password]" placeholder="password">
          <input type="submit" value="sign up">
        </form>
      </div>
    </div>
  </div>
</body>
</html>