<!DOCTYPE html>
<html>
<head>
  <title>CRAIGSLIST JR BITCH</title>
  <link href="normalize.css" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <div class="header">
      <h1><a href="/">craigslist jr</a><h1>
    </div>
    <br/>
    <div class="login">
      <form action="/login" method="post">
        <input type="text" name="user[user_name]" placeholder="username">
        <input type="password" name="user[password]" placeholder="password">
        <input type="submit" value="LOG IN">
      </form>
      <div class="sign-up">
        <p>not a user? sign up</p>
        <form action="/signup" method="post">
          <input type="text" name="user[user_name]" placeholder="username">
          <input type="password" name="user[password]" placeholder="password">
          <input type="submit" value="SIGN UP">
        </form>
      </div>
    </div>
    <br/>
    <div class="all-listings">
      all listings:
      <% @items.each do |item| %>
      <p><%= "#{item.title} - #{item.description} - #{item.price}" %></p>
      <% end %>
    </div>
  </div>
</body>
</html>