<h1>Welcome to Craigslist Jr!</h1>

<h2>Post a Listing:</h2>

<%= flash[:error] %>

<form method="post" action="/">
	<label>Title: <input type="text" name="title"></label><br/>
	<label>Price: $<input type="text" name="price"></label><br/>
	<label>Description <textarea rows="4" cols="50" name="description"></textarea></label><br/>
	<input type="submit" value="Post Listing">
</form>

<h3>Sign Up</h3>
<form method="post" action="/sign_up">
	<label>Username: <input type="text" name="sign_up_username"></label><br/>
	<label>Password: <input type="password" name="sign_up_password"></label><br/>
	<input type="submit" value="Sign Up">
</form>r

<h2>Current Listings:</h2>

<ul>
<% @all_postings.each do |post| %>
	<li><a href="/posts/<%= post.id %>"><%= post.title%></a></li>
<% end %>
</ul>