
<h1> Welcome to Craigslist Jr! </h1>
<form class="user_post" method="post" action='/create/post'>
  <label>Post an item!</label>
  <input type="text" placeholder="Item Title" name="title">
  <input type="text" placeholder="Item Description" name="description">
  <input type="text" placeholder="Item Price" name="price">
  <input type= "submit" value="post">
</form>

<form class="view items" method="post" action='/display/items'>
  <input type= "submit" value="View all items for sale">
</form>
