<h1>Here's your item!</h1>
<p><strong><%= @item.title %></strong> listed for $<%= @item.price %></p>
<p>Description: <%= @item.description %></p>
<br />
<p>To return here, bookmark: <a href="/items/<%= @item.item_key %>">this link</a></p>