<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Craigslist, jr.</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div id="container">
    <h1>Craigslist, jr.</h1>
    <%= yield %>
  </div>
</body>
</html>