<h1><%= @posting.title %></h1>

<ul>
	<li>Title: <%= @posting.title %></li>
	<li>Price: $<%= @posting.price %></li>
	<li>Description: <%= @posting.description %></li>
</ul>

<a href="/">Return to Craigslist Jr.</a>