<h1>Post all the things!</h1>

<h3>Give a title and description for the things that you are going to sell.</h3>

<form method="post" action="/post-a-sale">
    <input type="text" name="listing_title" placeholder="Listing Title">
    <input type="text" name="listing_price" placeholder="price">
    <br>
    <textarea name="listing_description" placeholder="Description please" spellcheck="true"></textarea>
    <br>
    <input type="submit" value="post your listing">
</form>
