<h1>Profle: <%= @user.name %></h1>


Your listings (click link to edit listing):
<ul>
	<% if @user_postings %>
		<li><%= @user_postings.title %></li>
	<% else %>
		<li>No listings yet</li>
	<% end %>
</ul>