<h1>Profle: <%= @user.name %></h1>


Your listings (click link to edit listing):
<ul>
	<% if @user_postings %>
		<% @user_postings.each do |post| %>
			<li><a href="/posts/<%= post.id %>/<%= post.edit_url %>">Edit: <%= post.title %></li>
		<% end %>
	<% else %>
		<li>No listings yet</li>
	<% end %>
</ul>

<a href='/'>Return to Craigslist Jr.</a><br/>
<a href="/logout">Log Out</a>