<h1>Profle: <%= @user.name %></h1>


Your listings (click link to edit listing):
<ul>
	<% if @user_postings %>
		<li><a href="/posts/<%= @user_postings.id %>/<%= @user_postings.edit_url %>">Edit: <%= @user_postings.title %></li>
	<% else %>
		<li>No listings yet</li>
	<% end %>
</ul>

<a href='/'>Return to Craigslist Jr.</a>