<form method="POST" action="/items">
  What This Is: <input id="item_title" name="title"><br>
  Why It Is Good: <input id="item_desc" name="desc"><br>
  This Is Worth: <input id=item_price name="price"><br>
  <input type="submit" value="I Don't Want This!"
</form>
