<form method="POST" action="/items/new">
  <label>What This Is: 
    <input id="item_title" name="title"><br>
  </label>
  <label>Why It Is Good: 
    <input id="item_desc" name="desc"><br>
  </label>
  <label>How Much It's Worth: 
    <input id=item_price name="price"><br>
  </label>
  <button>I Don't Want This</button>
</form>
